<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="imageUrl()" class="img-fluid rounded-start" [alt]="student().name">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{student().name}}</h5>
        <p class="card-text">Address : {{student().address}}</p>
        <p class="card-text">City : {{student().city}}</p>

        <button (click)="handleShowAnotherStduent()" class="btn btn-primary">Show Another Student</button>
      </div>
    </div>
  </div>
</div>
